	<li><a href="/candidates/">候选作品列表</a> <span class="divider">></span></li>
	<li><a href="/candidates/<%= @candidate.id %>">作品详情</a> <span class="divider">></span></li>
	<li class="active">选为获奖作品</li>
</ul>

<h1>选为获奖作品</h1>

