

	<div class="span4 center">
		<ul class="nav nav-tabs nav-stacked">
      		<li><a href="/candidates/">候选作品管理</a></li>
      		<li><a href="/winners/">获奖作品管理</a></li>
        	<li><a href="#">用户管理</a></li>
    	</ul>
  	</div>